html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #222;
}

.container {
  height: 100vh;
  color: wheat;
  font-size: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: arial;
  gap: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .fixed {
  background: #222;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 5;
  height: 17%;
}
.container .fixed .title {
  -webkit-text-decoration: underline #8f8f8f;
          text-decoration: underline #8f8f8f;
  width: 100%;
}
.container .fixed .micContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  justify-content: center;
}
.container .fixed .micContainer .material-symbols-outlined {
  font-size: 2.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.container .fixed .micContainer button {
  all: unset;
  transition: 0.2s;
}
.container .fixed .micContainer .up {
  color: black;
  background-color: #f5deb3;
  font-size: 2.5rem;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 9px #999;
}
.container .fixed .micContainer .down {
  background-color: #a39680;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container .fixed .micContainer #micActive {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
}
.container #dialogue {
  position: absolute;
  top: 20%;
  width: 50%;
  border-radius: 20px;
  font-size: 2rem;
  padding: 10px 25px;
  text-align: justify;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  color: #ffb393;
}
.container #dialogue li {
  border-bottom: 1px solid #666;
  width: auto;
  padding: 20px;
  list-style: none;
}

@media only screen and (max-width: 900px) {
  .container .title {
    font-size: 3.5rem;
  }
  .container #dialogue {
    font-size: 1.5rem;
    width: 100%;
  }
}
@-webkit-keyframes micRecorder {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}
@keyframes micRecorder {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}